@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";

.is-fullheight {
  min-height: calc(100vh - (#{$navbar-height}));
  max-height: calc(100vh - (#{$navbar-height}));
  height: calc(100vh - (#{$navbar-height}));
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}