---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
import logoRef from '../media/static.png'
---
<header>
    <Navigation />
    <div class="logo">
        <img src={logoRef} alt="Resonant Energy Sunburst Logo" />
    </div>
    <!-- <nav>
        <Navigation />
        <Hamburger />
    </nav> -->
</header>