---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageName={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p><em>{frontmatter.description}</em></p>
    <slot />
</BaseLayout>