---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageName={frontmatter.title}>
    <div class = "container">
        <div class = "section">
            <h1 class="title">{frontmatter.title}</h1>
        </div>
        <hr>
        <div class = "section">
                <slot />
        </div>
    </div>
</BaseLayout>